.about-image-container {
  display: flex;
  // padding: 0 10vw;
  // justify-content: center;
  align-items: center;
  padding: 6vw 0 3vw 0;
}

.about-portrait {
  // border-radius: 50%;
  object-fit: cover;
  // border: 5px solid $hero-color;
  width: 22vw;
  height: 22vw;
  background-image: image_path('tristan.jpeg');
  margin-right: 60px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.8s ease;
}

.about-portrait:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.8s ease;
}

.about-text {
  padding-top: 2vw;
  font-family: $headers-font;
  color: $hero-color;
  h2 {
    font-weight: 900;
    font-size: 2.4vw;
    line-height: 5vh;
    padding-bottom: 15px;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    font-size: 1.05vw;
    line-height: 1.5vw;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.about-text-columns {
  // width: 50%;
  // margin: 0 auto;
  columns: 4;
  column-gap: 2vw;
  // text-align: justify;
}

.about-headline-btn {
  color: $hero-color;
  padding: 3px 0;
  margin: 0 -1px;
  box-shadow: 0 -8px $hero-color inset;
  transition: all 0.4s ease;
}

.about-headline-btn:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 0px $hero-color inset;
  transition: all 0.4s ease;
}





