.about-container {
  font-family: $headers-font;
  padding: 0 12vw;
  height: calc(100vh - 5.5vw);
  background-color: white;
}

.about-image-container {
  display: flex;
  // padding: 0 10vw;
  // justify-content: center;
  align-items: center;
  padding: 6vw 0 3vw 0;
}

.about-portrait {
  // border-radius: 50%;
  object-fit: cover;
  // border: 5px solid $hero-color;
  width: 22vw;
  height: 22vw;
  background-image: image_path('tristan.jpg');
  margin-right: 60px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.8s ease;
}

.about-portrait:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 0.8s ease;
}

.about-text {
  padding-top: 2vw;
  font-family: $headers-font;
  color: $hero-color;
  h2 {
    font-weight: 900;
    font-size: 2.4vw;
    line-height: 4.5vh;
    padding-bottom: 15px;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    // font-size: 1.05vw;
    // line-height: 1.5vw;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.about-text-columns {
  // width: 50%;
  // margin: 0 auto;
  columns: 4;
  column-gap: 2vw;
  // text-align: justify;
}

.about-headline-btn {
  color: $hero-color;
  padding: 3px 0;
  margin: 0 -1px;
  box-shadow: 0 -8px $hero-color inset;
  transition: all 0.4s ease;
}

.about-headline-btn:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 0px $hero-color inset;
  transition: all 0.4s ease;
}

@media (max-width: 992px) {
  .content-btn-red-sm {
    font-size: 13px;
  }
  .about-text-columns {
    // margin-top: 20px;
    columns: 3;
    // column-gap: 15px;
  }
  .about-text {
    h2 {
      font-size: 25px;
      line-height: 28px;
    }
    p {
      font-size: 13px;
      line-height: 19px;
    }
  }
}

@media (max-width: 768px) {
  .about-image-container {
    flex-direction: column;
  }
  .about-portrait {
    width: 50vw;
    height: 50vw;
    margin-right: 0;
    margin: 20px;
  }
  .about-container {
    padding: 25px;
  }
  .about-text-columns {
    margin-top: 20px;
    columns: 2;
    column-gap: 15px;
  }
  .about-text {
    h2 {
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 20px;
    }
  }
  .content-btn-red-sm {
    padding: 2vw 2vw;
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .about-container {
    height: auto;
  }
  .about-text-columns {
    margin-top: 20px;
    columns: 1;
    column-gap: 8px;
  }
}




