.contact-container {
  padding: 40px;
  height: calc(100vh - 5.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $hero-color;
  background-color: white;
  h1 {
    font-weight: 900;
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 4vw;
  }
   h2 {
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 2.5vw;
  }
}

.contact-info {
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  i {
    font-size: 3.5vw;
    color: $hero-color;
    padding: 1vh;
  }
  i:hover {
    color: #ea1919;
  }
}

@media (max-width: 768px) {
  .contact-container {
    padding-bottom: 130px;
    h1 {
      font-weight: 900;
      font-size: 40px;
      line-height: 40px;
      margin: 4vw;
    }
     h2 {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .contact-links {
    padding-top: 2vw;
    i {
      font-size: 40px;
      padding: 1vh;
    }
  }
  .text-btn-red-lg {
    margin: 0;
    box-shadow: 0 -6px $hero-color inset;
  }
}

@media (max-width: 576px) {

}
