.home-container {
  padding: 0 4vw;
}

.home-content {
  height: calc(100vh - 5.5vw);
  position: relative;
  padding: 23vh 5vw;
  text-align: center;
  color: $hero-color;
}

.home-header {
  h1 {
    padding-bottom: 4vh;
  }
  h1 {
    font-size: 5.5vw;
    font-weight: 900;
    line-height: 5.5vw;
    span {
      font-size: 6.5vw;
    }
  }
  h3, span {
    font-size: 1.9vw;
    color: white;
    transition: all 0.8s ease;
  }
  h1:hover {
    cursor: pointer;
  }
  h1:hover span {
    color: $hero-color;
    transition: all 1.2s ease;
  }
  h1:hover ~h3 {
    color: $hero-color;
    transition: all 1.2s ease;
  }
}

.home-arrow {
  color: $hero-color;
  font-size: 50px;
  position: absolute;
  bottom: 3.5vh;
  animation: arrow-hover 2.2s ease-in-out infinite;
}

.home-container-red {
  background-color: $hero-color;
}

.home-container-white {
  // background-color: $hero-blue;
  background-color: white;
}
