.home-container {
  padding: 0 4vw;
}

.home-content {
  height: calc(100vh - 5.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $headers-font;
}

.home-header {
  height: calc(100vh - 5.5vw);
  padding: 23vh 5vw;
  color: $hero-color;
  text-align: center;
  h1 {
    padding: 0 1vw;
    font-weight: 900;
    // font-size: 5.5vw;
    // line-height: 5.5vw;
    font-size: 5.5vw;
    line-height: 5.5vw;
    padding-bottom: 4vh;
    span {
      font-size: 6.5vw;
    }
  }
  h3, span {
    font-size: 1.6vw;
    font-weight: 700;
    color: white;
    transition: all 0.8s ease;
  }
  h1:hover {
    cursor: pointer;
  }
  h1:hover span {
    color: $hero-color;
    transition: all 1.2s ease;
  }
  h1:hover ~h3 {
    color: $hero-color;
    transition: all 1.2s ease;
  }
}

.home-image-forrest {
  width: 700px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.home-image-hiive {
  width: 820px;
  height: 600px;
  object-fit: cover;
  object-position: 50% 0%;
}

.home-image-fetch {
  width: 800px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.home-description {
  z-index: 1;
  width: 440px;
  // height: 450px;
  position: relative;
  padding: 30px;
  h2 {
    font-weight: 900;
    font-size: 56px;
    line-height: 54px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    // margin-bottom: 30px;
  }
  img {
    margin-bottom: 15px;
    margin-top: -12px;
  }
}

.product-hunt-padding-top {
  margin-bottom: 30px;
}

.product-hunt-padding-bottom {
  margin-top: 2px;
}

.home-description-red {
  right: 50px;
  background-color: $hero-color;
}

.home-description-white {
  left: 50px;
  background-color: white;
}

.home-arrow {
  color: $hero-color;
  font-size: 60px;
  position: absolute;
  bottom: 3.5vh;
  animation: arrow-hover 2.2s ease-in-out infinite;
  transition: all 0.4s ease;
}

.home-arrow:hover {
  cursor: pointer;
  color: #ea1919;
  transition: all 0.4s ease;
}

.site-container-red {
  background-color: $hero-color;
  margin: 0;
  padding: 0;
}

.site-container-white {
  // background-color: $hero-blue;
  background-color: white;
  margin: 0;
  padding: 0;
}

.center-content {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .home-image-forrest {
    width: 50vw;
    height: 42.8vw;
  }
  .home-image-hiive {
    width: 50vw;
    height: 36.5vw;
  }

  .home-image-fetch {
    width: 50vw;
    height: 37.6vw;
  }
  .home-description-red {
    right: 100px;
  }
  .home-description-white {
    left: 100px;
  }
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    // height: calc(100vh - 5.5vw);
    // height: fit-content(100%);
    height: calc(100vh - 5.5vw);
  }
  .headline-break {
    display: none;
  }
  .home-image-forrest {
    width: 90vw;
    height: 77vw;
    // margin-bottom: 40px;
  }
  .home-image-hiive {
    width: 90vw;
    height: 65.7vw;
  }
  .home-image-fetch {
    width: 90vw;
    height: 67.7vw;
  }
  .home-description {
    // overflow: auto;
    text-align: center;
    width: 100%;
    order: -1;
    padding: 5vw;
    h2 {
      font-size: 38px;
      line-height: 40px;
      // padding-bottom: 15px;
      // margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
    }
  }
  .home-description-red {
    right: 0;
  }
  .home-description-white {
    left: 0;
  }
  .home-arrow {
    font-size: 40px;
  }
  .home-header {
    height: calc(100vh - 5.5vw);
    padding: 28vh 5vw;
    h1 {
      padding: 0 3vw;
      font-size: 8vw;
      line-height: 8vw;
      padding-bottom: 4vh;
      span {
        font-size: 8vw;
      }
    }
    h3, span {
      font-size: 4vw;
      font-weight: 700;
      color: white;
      transition: all 0.8s ease;
    }
  }
  .red-border-home {
    border: 0;
  }
  .white-border-home {
    border: 0;
  }
  .content-btn {
    display: block;
    // padding: 0;
    margin-right: 0;
  }
}

@media (max-width: 576px) {}
















