<div class='nav-container'>

  <div class='nav-title'>
    <%= link_to 'TRISTAN', root_path %>
  </div>

  <div class='nav-links'>
    <%= link_to 'RESUME', resume_path %>
    <%= link_to 'ABOUT', about_path %>
    <%= link_to 'CONTACT', contact_path, class: 'nav-button' %>
  </div>

</div>
