<!-- <div class="about-header">
  <h1>
    Will work for 🍕
  </h1>
</div>
 -->
<div class="about-image-container">
  <img src="<%= image_path('tristan.jpeg') %>" class="about-portrait" alt="Portrait of the full stack ruby on rails developer and creator of tristan.pizza, Tristan Viney">
  <div class="about-text">
    <h2>
      Tristan is passionate about brutally simple, well-crafted ideas and thinks it's silly to write about himself in third person — so enough of that.
    </h2>
    <p>
      I'm the former creative director of <a href="http://www.eardrum.com.au" class="text-btn-red">Eardrum</a>, won the <a href="http://www.youngglory.com/past-winners" class="text-btn-red">Young Glory creativity competition</a>, and have represented Australia 3 times at <a href="https://www.canneslions.com/enter/young-lions-competitions" class="text-btn-red">Cannes Young Lions</a>, winning <a href="http://www.campaignbrief.com/2017/09/rosie-stone-and-tristan-viney.html" class="text-btn-red">gold in digital</a> & <a href="http://www.campaignbrief.com/2014/06/gpyrs-carl-robertson-and-trist.html" class="text-btn-red">silver in film</a>.
    </p>
    <p>
      My love of problem solving lead me <span>a little mad</span> to attend <a href="http://www.lewagon.com" class="text-btn-red">Le Wagon</a> Amsterdam (batch #259) to learn to build my own ideas from the ground up. After day 1, I was hooked.
    </p>
    <p>
      So here we are.
    </p>
    <p>
      My background gives me a unique, comprehensive understanding of business, branding, and communicating the benefits of often complicated products and services in a simple, compelling way.
    </p>
    <p>
      I'm looking to incorporate my 7+ years of creative problem solving into the next stage of my career as a full stack Ruby on Rails developer.
    </p>
  </div>
</div>




FUELED BY PIZZA




<a href="http://www.lewagon.com" class="text-btn-red">Le Wagon</a>
