<div class="about-container">
  <div class="about-image-container red-underline">
    <img src="<%= image_path('tristan.jpeg') %>" class="about-portrait" alt="Portrait of the full stack ruby on rails developer and creator of tristan.pizza, Tristan Viney">
    <div class="about-text">
      <h2>
        Tristan Viney is passionate about brutally simple, well-crafted ideas and thinks it's silly to write about himself in third person — so enough of that.
      </h2>
    </div>
  </div>

  <div class="about-text-columns about-text">
    <p>
      I'm the former creative director of <a href="http://www.eardrum.com.au" class="text-btn-red-sm">Eardrum</a>, won the <a href="http://www.youngglory.com/past-winners" class="text-btn-red-sm">Young Glory creativity competition</a>, and have represented Australia 3 times at <a href="https://www.canneslions.com/enter/young-lions-competitions" class="text-btn-red-sm">Cannes Young Lions</a>, winning <a href="http://www.campaignbrief.com/2017/09/rosie-stone-and-tristan-viney.html" class="text-btn-red-sm">gold in digital</a> & <a href="http://www.campaignbrief.com/2014/06/gpyrs-carl-robertson-and-trist.html" class="text-btn-red-sm">silver in film</a>.
    </p>
    <p>
      View my advertising portfolio <a href="http://tristanviney.com" target="blank" class="text-btn-red-sm">here</a>.
    </p>
    <p>
      My love of problem solving lead me to attend <a href="http://www.lewagon.com" class="text-btn-red-sm">Le Wagon</a> Amsterdam (batch #259) to learn how to build my own ideas. I didn't know where it would lead, only it was something I knew I had to do.
      <br>
      After day one, I was hooked.
    </p>
    <p>
      Now, armed with a my <a href="/resume.pdf" class="text-btn-red-sm">shiny new web developer toolkit</a>, I have a burning desire to continue coding, building ideas, and learning. Currently, I'm learning React & Redux.
    </p>
    <p>
      I'm looking to incorporate my <br><a href="/resume.pdf" class="text-btn-red-sm">7+ years of creative problem solving experience</a> into a full stack Ruby on Rails developer position.
    </p>
    <br>
    <%= link_to "So, let's make something together", contact_path, class: 'content-btn-red-sm' %>
  </div>
</div>
