<div class="contact-container">
  <div class="contact-info">
    <h1>
      Let's make something together.
    </h1>
    <h2 class="contact-number">
      (+31) 684 647 467
    </h2>
    <h2>
      <%= link_to 'hi@tristan.pizza', 'mailto:hi@tristan.pizza', class: 'text-btn-red-lg' %>
    </h2>
    <div class="contact-links">
      <a href="https://github.com/yeniv" target="blank"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/tristanviney" target="blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
