<div class="case-study-header">
  <div class="case-study-header-info">
    <h1>
      Fetch
    </h1>
    <div class="case-study-tech-stack">
      <p>Ruby</p>
      <p>Ruby on Rails</p>
      <p>Javascript</p>
      <p>CSS</p>
      <p>HTML</p>
      <p>PostgreSQL</p>
      <p>Devise</p>
      <p>Carrierwave</p>
      <p>Cloudinary</p>
      <p>Mapbox API</p>
      <p>Geocoder</p>
    </div>
  </div>
</div>
