<div class="case-study-header">
  <div class="case-study-header-info">
    <h1>
      hiive
    </h1>
    <div class="case-study-tech-stack">
      <p>Ruby</p>
      <p>Ruby on Rails</p>
      <p>Javascript</p>
      <p>CSS</p>
      <p>HTML</p>
      <p>Regex</p>
      <p>Nokogiri</p>
      <p>PostgreSQL</p>
      <p>Devise</p>
      <p>Carrierwave</p>
      <p>Cloudinary</p>
      <p>Custom API</p>
      <p>WebSockets</p>
      <p>Sidekiq background jobs</p>
    </div>
  </div>
</div>
