<div class="home-container home-container-white ">
  <div class="home-content home-header">
    <h1>
      Creative problem solver<span>*</span>
      meets rails full stack developer.
    </h1>
    <h3>
      *Award-winning, just sayin'
    </h3>
    <i class="home-arrow fas fa-chevron-down"></i>
  </div>
</div>
<div class="home-container home-container-red">
  <div class="home-content">
  </div>
</div>
