.content-btn-container {
  // position: absolute;
  // bottom: 40px;
  margin: 20px 0 8px 0;
}

.content-btn {
  display: inline-block;
  // padding: 14px 16px;
  margin: 10px 10px 0 0;
  padding: 12px 16px;
  font-family: $headers-font;
  font-weight: 800;
  font-size: 20px;
  // margin-right: 10px;
  transition: all 0.4s ease;
}

.content-btn:hover {
  text-decoration: none;
}

.content-btn-white {
  color: white;
  box-shadow: 0 0 0 5px white inset;
  transition: all 0.4s ease;
}

.content-btn-white:hover {
  box-shadow: 0 54px white inset;
  transition: all 0.4s ease;
  color: $hero-color;
}

.content-btn-red {
  color: $hero-color;
  box-shadow: 0 0 0 5px $hero-color inset;
  transition: all 0.4s ease;
}

.content-btn-red:hover {
  box-shadow: 0 54px $hero-color inset;
  transition: all 0.4s ease;
  color: white;
}

.content-btn-red-about {
  color: $hero-color;
  box-shadow: 0 0 0 5px $hero-color inset;
  transition: all 0.4s ease;
}

.content-btn-red-about:hover {
  box-shadow: 0 80px $hero-color inset;
  transition: all 0.4s ease;
  color: white;
}

.content-btn-red-sm {
  font-size: 15px;
  padding: 12px 12px;
  color: $hero-color;
  box-shadow: 0 0 0 3px $hero-color inset;
  transition: all 0.6s ease;
  text-align: center;
  display: block;
}

.content-btn-red-sm:hover {
  text-decoration: none;
  box-shadow: 0 68px $hero-color inset;
  transition: all 0.6s ease;
  color: white;
}

.text-btn-white {
  padding: 3px 0;
  margin: 0 -1px;
  font-weight: 600;
  color: white;
  transition: all 0.4s ease;
  box-shadow: 0 -4px white inset;
}

.text-btn-white:hover {
  // color: $hero-color;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 white inset;
  // box-shadow: 0 -40px white inset;
  transition: all 0.4s ease;
}

.text-btn-red {
  box-decoration-break: clone;
  padding: 3px 0;
  margin: 0 -1px;
  font-weight: 600;
  color: $hero-color;
  transition: all 0.4s ease;
  box-shadow: 0 -4px $hero-color inset;
}

.text-btn-red:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 0px $hero-color inset;
  // box-shadow: 0 -40px $hero-color inset;
  transition: all 0.4s ease;
}

.text-btn-red-lg {
  padding: 5px 0;
  margin: 0 -1px;
  color: $hero-color;
  transition: all 0.4s ease;
  box-shadow: 0 -8px $hero-color inset;
}

.text-btn-red-lg:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 0px $hero-color inset;
  // box-shadow: 0 -40px $hero-color inset;
  transition: all 0.4s ease;
}

.text-btn-red-sm {
  padding: 3px 0;
  margin: 0 -1px;
  // font-weight: 600;
  color: $hero-color;
  // color: $hero-color;
  transition: all 0.4s ease;
  box-shadow: 0 -3px $hero-color inset;
}

.text-btn-red-sm:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 0px $hero-color inset;
  // box-shadow: 0 -40px $hero-color inset;
  transition: all 0.4s ease;
}
