.text-btn-white {
  padding: 2px 1px;
  font-weight: 800;
  color: white;
  transition: all 0.4s ease;
  box-shadow: 0 -3px white inset;
}

.text-btn-white:hover {
  color: $hero-color;
  text-decoration: none;
  box-shadow: 0 -40px white inset;
  transition: all 0.4s ease;
}
  // box-shadow: 0 0 0 5px white inset;

  //   text-decoration: none;
  // color: $hero-color;
  // transition: all 0.4s ease;

