.nav-bar-menu {
  position: sticky;
  top: 0;
  right: 0;
  margin: 10px;
  color: $hero-color;
  z-index: 5;
  font-size: 30px;
  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    // color: #ea1919;
    // transition: all 0.4s ease;
  }
}

.nav-bar-menu-open {
  color: white;
}

.nav-bar-menu-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-color: $hero-color;
  // background-color: rgba(0,0,0,0.5)
}

.nav-bar-popup-close {
  position: sticky;
  top: 0;
  right: 0;
  margin: 10px;
  color: white;
  z-index: 5;
  font-size: 30px;
}

.nav-bar-link-container {
  text-align: center;
}

.nav-bar-link {
  display: block;
  color: white;
  font-size: 12vw;
  margin: 3vh;
  font-weight: 800;
  &:hover {
    color: white;
    cursor: pointer;
    text-decoration: none
  }
}

.hidden {
  display: none;
}
