.nav-text-fadein {
  display: inline-block;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  position: relative
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    // bottom: 60px;
  }
  100% {
    opacity: 1;
    // bottom: 0;
  }
}

// .nav-text-fadeout {
//   animation-name: fadeOut;
//   animation-duration: 0.6s;
//   animation-fill-mode: forwards;
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   99% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0;
//     display: none;
//   }
// }
